img{
    
    border-radius: 50%;
    
    
}
.disposition_page{
    display: flex;
   
}
.photo{
    text-align: center;
}
.gauche{
    background-color: rgb(205, 202, 202);
    padding-right: 0%;
    
}
.A{
    background-color: rgb(106, 105, 105);
}
.B{
    background-color: rgb(106, 105, 105);
}
.droite{
    padding-left: 2%;
}
progress { 
    appearance: none;
    -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}
progress.Wolof::-webkit-progress-value{ background-color: rgb(19, 18, 18);}
progress.fr::-webkit-progress-value{background-color: rgb(19, 18, 18);}
progress.an::-webkit-progress-value{background-color: rgb(22, 22, 22);}